* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: lightblue;
    padding: 1rem;
    text-align: center;
}

h2 {
    margin-bottom: 1rem;
}

h6 {
    font-weight: bold;
    font-size: 1.2rem;
}

.code {
    background-color: whitesmoke;
    border: 1px solid lightblue;
    padding: 0.7rem;
    font-size: 1rem;
    margin: 1rem 0 2rem 0;
}

main {
    width: 80vw;
    margin: 0 auto;
    padding: 2rem;
}

section {
    border-bottom: 1px solid lightblue;
    padding: 2rem;
}

table {
    width: 50vw;
}

td {
    border: 1px solid lightblue;
    padding: 1rem;
}